$tertiary: #1B0522;
$secondary: #1C0A22;
$primary: #925FA4;
$white: #fff;
$orange: #fe6703;
$profile-nav-height: 20.6rem;
$grad: linear-gradient(to right, #ee0979, #ff6a00);

$tablet_bp: 991px;
$mobile_bp: 575px;
$minilaptop_bp: 783px;
$laptop_bp: 1200px;