.forms {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
  margin-bottom: 5rem;
  overflow: auto;
}

.forms-item {
  width: 22rem;
  height: 35rem;
  position: relative;
}

.forms-photo {
  display: block;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.forms-name-age {
  position: absolute;
  left: 2rem;
  bottom: 8.9rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.forms-country-text {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
}

.forms-country {
  position: absolute;
  left: 2rem;
  bottom: 7rem;
}

.forms-hello {
  text-decoration: none;
  color: $white;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.4rem 3rem;
  background: $grad;
  border-radius: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &--slider {
    position: relative;
    padding: 1.6rem 3rem;
  }

  img {
    margin-left: 1.7rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &--sub {
    margin-top: 2rem;
    position: relative;
    color: #694b73;
    background: #3b2143;

    &:hover {
      background: $grad;
      opacity: 1;
      color: $white;
    }

    @include breakpoint($tablet_bp) {
      padding: 1rem;
      font-size: 1.3rem;
    }

    @include breakpoint($mobile_bp) {
      padding: 1.5rem 3rem;
    }
  }

  &--profile {
    position: relative;
    padding: 1.4rem 4rem;

    @include breakpoint($mobile_bp) {
      padding: 1.5rem 11.5rem;
    }
  }

  &--bank-account {
    position: relative;
    width: 13rem;
  }
}
