.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 13rem;

  @include breakpoint($mobile_bp) {
    overflow: hidden;
  }
}

.login-title {
  font-size: 5.8rem;
  font-weight: 500;
  
  @include breakpoint($tablet_bp) {
    font-size: 4rem;
  }
  
  @include breakpoint($mobile_bp) {
    font-size: 3.6rem;
    text-align: center;
    margin-top: 4rem;
  }
}

.login-text {
  width: 78rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 0.5rem 0 3rem 0;

  @include breakpoint($tablet_bp) {
    font-size: 1.3rem;
    width: 50rem;
  }

  @include breakpoint($mobile_bp) {
    padding: 0 8rem;
  }
}

.login-form {
  position: relative;
  margin-bottom: 1rem;
}

.login-left-icon {
  position: absolute;
  top: 26%;
  left: 8%;

  &--right {
    left: 85%;
  }
}

.login-btn {
  font-size: 1.5rem;
  font-weight: 400;
  color: $white;

  text-decoration: none;
  padding: 1.5rem 14rem;
  background: $grad;
  border-radius: 500px;
  transition: opacity 0.3s linear;

  box-shadow: 0 20px 30px rgba(179, 34, 31, 0.2);

  &:hover {
    opacity: 0.4;
  }

  &--reg {
    padding: 1.5rem 10rem;
  }

  &--password {
    padding: 1.5rem 7.3rem;
  }
}

.login-forgot {
  font-size: 1.4rem;
  font-weight: 400;
  color: #925fa4;
  margin-top: 1rem;
  text-decoration: none;
  transition: all 0.2s linear;

  background: none;
  border: none;

  &:hover {
    color: $white;
  }
}
