.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1.5px);
  z-index: 3;

  &.show {
    display: flex;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 60rem;
  width: 100%;
  padding: 5rem 1rem;

  background-color: $secondary;
  border-radius: 50px;

  opacity: 0;
  transform: translateY(-20);
  transition: all 0.2s linear;

  @include breakpoint($tablet_bp) {
    padding: 3rem 1rem;
    width: 50rem;
  }

  @include breakpoint($mobile_bp) {
    width: 35rem;
  }
}

.modal-title {
  font-size: 3.2rem;
  font-weight: 500;

  @include breakpoint($mobile_bp) {
    font-size: 2.8rem;
  }
}

.modal-text {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #925fa4;
  margin: 1rem 0 2rem 0;
}

.modal-inner {
  display: flex;
  justify-content: space-between;

  max-width: 70rem;
  max-height: 47rem;
  height: 100%;
  width: 100%;

  background-color: $secondary;
  border-radius: 50px;

  opacity: 0;
  transform: translateY(-20);
  transition: all 0.2s linear;
}

.modal-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3rem 2rem 23rem 2rem;
}

.modal-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: #2a1332;
  border-radius: 50px;
  padding: 3rem 4rem;

  &--mobile {
    width: 100%;
    padding: 0 2rem;
  }
}

.message-avatar {
  width: 6rem;
  height: 6rem;

  &--mini {
    width: 4rem;
    height: 4rem;
  }

  &--mobile {
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
  }
}

.message-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;

  &--active {
    background-color: #2a1332;
    border-radius: 50px;
    padding: 1rem;
  }
}

.message-info {
  display: flex;
  flex-direction: column;
}

.message-name {
  color: $white;
  font-size: 1.4rem;
  font-weight: 540;
  position: relative;
}

.online {
  position: absolute;
  top: 0;
  left: 20%;

  &--dialogs {
    left: 40%;
  }
}

.message-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #6e447b;

  &--mobile {
    font-size: 1.6rem;
  }
}

.message-one {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;

  &--right {
    margin-left: 6.5rem;
    justify-content: flex-end;
  }
}

.message {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
  background: linear-gradient(to right, #ec008c, #fc6767);
  padding: 1rem 2rem;
  border-radius: 0 50px 50px 80px;

  &--right {
    border-radius: 50px 0 80px 50px;
    background: linear-gradient(to right, #0575e6, #021b79);
  }
}

.message-form {
  margin-top: auto;
  position: relative;

  &--mobile {
    margin-top: 12rem;
  }
}

.message-input {
  width: 100%;
  height: 4.5rem;
  background-color: #42204e;
  border-radius: 50px;
  padding: 1rem;
  border: none;
  padding: 1rem 3rem;
  color: #8b5d9a;

  &::placeholder {
    color: #8b5d9a;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.message-icon {
  position: absolute;
  top: 28%;
  right: 7%;
}

.message-list {
  &--mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
}

.back {
  display: inline-block;
  transform: translateY(-.4rem);
}

.messages-title {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 500;
}

.back-btn {
  margin-bottom: 1.5rem;
}

.open-dialog {
  text-decoration: none;
}