.nav {
  height: 12rem;
  background-color: #2d1436;
  padding-right: 2rem;

  &--new {
    background-color: inherit;
  }

  @include breakpoint($tablet_bp) {
    height: 10rem;
  }

  @include breakpoint($mobile_bp) {
    height: 5rem;
    padding-right: 0;
  }
}

.nav-inner {
  display: flex;
  padding: 3rem 0;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($mobile_bp) {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 2rem 4rem;
  }

  &--mobile {
    @include breakpoint($mobile_bp) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 0.5rem 0;
    }
  }
}

.nav-logo {
  width: 21%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($tablet_bp) {
    margin-right: 1rem;
  }

  @include breakpoint($mobile_bp) {
    justify-content: center;
    margin-bottom: 2rem;
  }

  &--mobile {
    @include breakpoint($mobile_bp) {
      margin: 0;
    }
  }
}

.logo-birds {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;

  @include breakpoint($tablet_bp) {
    width: 4rem;
    height: 4rem;
    margin-right: 0.4rem;
  }

  @include breakpoint($mobile_bp) {
    width: 5rem;
    height: 5rem;
  }

  &--mobile {
    @include breakpoint($mobile_bp) {
      width: 4rem;
      height: 4rem;
      margin-right: 0;
      margin-top: 0.5rem;
    }
  }
}

.nav-title {
  font-size: 2.2rem;
  font-weight: 500;

  @include breakpoint($tablet_bp) {
    font-size: 1.6rem;
  }

  @include breakpoint($mobile_bp) {
    display: none;
  }
}

.nav_list {
  width: 30%;
  display: flex;
  justify-content: space-between;

  @include breakpoint($tablet_bp) {
    width: 37%;
  }

  @include breakpoint($mobile_bp) {
    display: none;
  }
}

.nav-link {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: $white;
  transition: color 0.2s linear;

  &:hover {
    color: $orange;
  }

  &.active {
    color: $orange;

    position: relative;

    &::after {
      display: block;
      content: " ";
      width: 5.4rem;
      height: 0.4rem;
      background: linear-gradient(to right, #ee0979, #ff6a00);
      position: absolute;
      top: 305%;
      left: 0;

      z-index: 1;
    }
  }

  &--btn {
    background: none;
    border: none;
    margin: 0;
  }

  &--name {
    display: inline;
    text-wrap: nowrap;

    @include breakpoint($mobile_bp) {
      display: none;
    }
  }

  @include breakpoint($tablet_bp) {
    font-size: 1.3rem;
    &.active {
      &::after {
        top: 288%;
        width: 4.3rem;
      }
    }
  }
}

.nav-country {
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($tablet_bp) {
    display: none;
  }
}

.nav-country-text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: $white;
  margin-right: 1rem;
}

.nav-social {
  width: 7%;
  display: flex;
  justify-content: space-between;
  @include breakpoint($tablet_bp) {
    display: none;
  }

  @include breakpoint($mobile_bp) {
    display: flex;
    width: 35%;
  }
}

.social-item {
  &--notification {
    transform: translateY(-0.3rem);
  }
}

.nav-profile {
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($tablet_bp) {
    width: 17%;
    padding-right: 1rem;
  }
}

.soc-img {
  @include breakpoint($mobile_bp) {
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(0.5rem);
  }

  &--mini {
    @include breakpoint($mobile_bp) {
      width: 3rem;
      height: 3rem;
      transform: translateY(1rem);
    }
  }
}

.nav-profile-photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  @include breakpoint($tablet_bp) {
    margin-right: 0.3rem;
  }

  @include breakpoint($mobile_bp) {
    margin-top: 0.5rem;
  }
}

.lines {
  display: none;

  @include breakpoint($mobile_bp) {
    border-bottom: 12px double red;
    border-top: 4px solid red;
    content: "";
    height: 4px;
    width: 30px;
    box-sizing: unset;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.6rem;
  }
}
