.subscription_list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25rem;

  @include breakpoint($mobile_bp) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    gap: 1rem;
  }
}

.subscription_item {
  width: 33rem;
  height: 30rem;
  background-color: $secondary;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &.active {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background: $grad;
      border-radius: 50px;
      z-index: -1;
    }

    .forms-hello {
      &--sub {
        background: $grad;
        color: $white;
      }
    }
  }

  @include breakpoint($laptop_bp) {
    width: 30rem;
  }

  @include breakpoint($tablet_bp) {
    width: 16.5rem;
    height: 23rem;
  }

  @include breakpoint($mobile_bp) {
    width: 30rem;
    height: 27rem;
  }
}

.item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;

  img {
    width: 8rem;
    height: 8rem;

    @include breakpoint($tablet_bp) {
      width: 6rem;
      height: 6rem;
    }

    @include breakpoint($mobile_bp) {
      width: 8rem;
      height: 8rem;
    }
  }

  @include breakpoint($tablet_bp) {
    padding: 2rem 0;
  }

  @include breakpoint($mobile_bp) {
    padding: 3rem 5rem;
  }
}

.subscription-text {
  margin: 2rem 0 0.5rem 0;

  @include breakpoint($tablet_bp) {
    font-size: 1.3rem;
  }
}

.subscription-price {
  @include breakpoint($tablet_bp) {
    font-size: 1.3rem;
  }
}
