<div class="modal modal--messages" id="myModal">
  <div class="modal-inner">
    <div class="modal-left">
      <ul class="message-list">
        <li class="message-item">
          <img
            class="message-avatar"
            src="assets/images/message-avatar.svg"
            alt=""
          />
          <div class="message-info">
            <p class="message-name">Марина</p>
            <p class="message-text">Привет! Как дела?</p>
          </div>
        </li>
        <li class="message-item message-item--active">
          <img class="message-avatar" src="assets/images/avatar2.svg" alt="" />
          <div class="message-info">
            <p class="message-name">
              Алёна
              <img class="online online--dialogs" src="assets/images/online.svg" alt="" />
            </p>
            <p class="message-text">Чем занимаешься?</p>
          </div>
        </li>
        <li class="message-item">
          <img class="message-avatar" src="assets/images/avatar3.svg" alt="" />
          <div class="message-info">
            <p class="message-name">Вика</p>
            <p class="message-text">Хорошо.До встречи</p>
          </div>
        </li>
        <li class="message-item">
          <img class="message-avatar" src="assets/images/avatar4.svg" alt="" />
          <div class="message-info">
            <p class="message-name">Анастасия</p>
            <p class="message-text">Привет! Как дела?</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal-right">
      <p class="message-name">
        Алёна 22
        <img class="online" src="assets/images/online.svg" alt="" />
      </p>
      <div class="message-one">
        <img
          class="message-avatar message-avatar--mini"
          src="assets/images/avatar2.svg"
          alt=""
        />
        <p class="message">
          Привет <br />
          Текст сообщения будет тут
        </p>
      </div>
      <div class="message-one message-one--right">
        <p class="message message--right">
          Привет <br />
          Ответ на сообщение будет тут
        </p>
        <img
          class="message-avatar message-avatar--mini"
          src="assets/images/message-photo.svg"
          alt=""
        />
      </div>
      <div class="message-one">
        <img
          class="message-avatar message-avatar--mini"
          src="assets/images/avatar2.svg"
          alt=""
        />
        <p class="message">Еще одно сообщение в одну строку</p>
      </div>
      <div class="message-one message-one--right">
        <p class="message message--right">
          Ответ на сообщение в несколько строк<br />
          Тут вторая строка<br />
          Тут будет третья<br />
        </p>
        <img
          class="message-avatar message-avatar--mini"
          src="assets/images/message-photo.svg"
          alt=""
        />
      </div>
      <div class="message-form">
        <form class="message-form-input" method="get">
          <input
            class="message-input"
            type="text"
            placeholder="Написать сообщение..."
          />
        </form>
        <img class="message-icon" src="assets/images/message-icon.svg" alt="" />
      </div>
    </div>
  </div>
</div>
