<header class="header header--new">
    <div class="region">
      <div class="region-content">
        <p class="region-title">знакомства по всему миру</p>
        <div class="country">
          <div class="select">
            <div class="select-header">
              <div class="current-value">
                <div class="select-current">
                  <img src="assets/images/usa.svg" alt="" /> Америка
                </div>
                <img
                  class="chevron-down"
                  src="assets/images/nav_chevron-down.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="select-body">
              <div class="select-item">
                <img src="assets/images/usa.svg" alt="" /> Россия
              </div>
              <div class="select-item">
                <img src="assets/images/usa.svg" alt="" /> Америка
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="nav nav--new">
      <div class="container">
        <div class="nav-inner">
          <div class="nav-logo">
            <img
              class="logo-birds"
              src="assets/images/logo-birds.svg"
              alt="logo"
            />
            <h2 class="nav-title">Znakomstva.com</h2>
          </div>
  
          <div class="mini-reg">
            <p class="mini-text">Уже есть аккаунт?</p>
            <a class="mini-link" href="index.html">Войти</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  