<header class="header">
  <div class="region">
    <div class="region-content">
      <p class="region-title">знакомства по всему миру</p>
      <div class="country">
        <div class="select">
          <div class="select-header">
            <div class="current-value">
              <div class="select-current">
                <img src="assets/images/usa.svg" alt="" /> Америка
              </div>
              <img
                class="chevron-down"
                src="assets/images/nav_chevron-down.svg"
                alt=""
              />
            </div>
          </div>
          <div class="select-body">
            <div class="select-item">
              <img src="assets/images/usa.svg" alt="" /> Россия
            </div>
            <div class="select-item">
              <img src="assets/images/usa.svg" alt="" /> Америка
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav">
    <div class="container">
      <div class="nav-inner nav-inner--mobile">
        <div class="nav-logo nav-logo--mobile">
          <a href="index.html"
            ><img
              class="logo-birds logo-birds--mobile"
              src="assets/images/logo-birds.svg"
              alt="logo"
          /></a>

          <h2 class="nav-title nav-title--mobile">Znakomstva.com</h2>
        </div>
        <ul class="nav_list">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Анкеты</a>
          </li>
          <li class="nav-item">
            <button id="myButton" class="nav-link nav-link--btn">
              Сообщения
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="subscription.html">Подписка</a>
          </li>
        </ul>

        <div class="nav-country">
          <p class="nav-country-text">Россия</p>
          <img src="assets/images/nav_chevron-down.svg" alt="" />
        </div>
        <ul class="nav-social">
          <li class="social-item">
            <a href="">
              <img
                class="soc-img soc-img--mini"
                src="assets/images/search.svg"
                alt=""
              />
            </a>
          </li>
          <li class="social-item social-item--notification">
            <a href="mobile-messages.html">
              <img
                class="soc-img"
                src="assets/images/notification.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
        <div class="nav-profile">
          <a href="profile.html">
            <img
              class="nav-profile-photo"
              src="https://placehold.it/40"
              alt=""
            />
          </a>
          <a class="nav-link nav-link--name" href="profile.html">Иван Иванов</a>
        </div>
        <a href="subscription.html">
          <div class="lines"></div>
        </a>
      </div>
    </div>
  </nav>
</header>
