<div class="modal" id="password-modal">
  <div class="modal-content">
    <p class="modal-title">Я не помню пароль</з>
    <p class="modal-text">Введи свой email и мы вышлем тебе инструкции по изменению пароля</p>
    <div class="login-form">
        <img class="login-left-icon" src="assets/images/message.svg" alt="" />
        <form class="login-form-input" method="get">
          <input
            class="login-input"
            type="text"
            placeholder="Введите электронную почту"
          />
        </form>
      </div>
    <a class="login-btn login-btn--password" href="index.html">Запросить новый пароль</a>
  </div>
</div>
